<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserRoleTMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.UserRoleT">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
  </resultMap>
</mapper>